<resource-nav-title>
  <a href="https://immunedynamics.github.io/thomas-ashhurst">Thomas Ashhurst, Ph.D</a><span class="container" align = "right">{% include svg-icons-top.html %}</span>
</resource-nav-title>
<hr>
<resource-nav>
  <a href="https://immunedynamics.github.io/thomas-ashhurst">About</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/research">Research</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/publications">Publications</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/funding">Funding</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/community">Community</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/talks">Talks</a>
</resource-nav>
