---
layout: default
---

<article class="page">  
  <sub-nav-title>
  <a href="https://immunedynamics.github.io/spectre">About</a>
</sub-nav-title>
<hr>
<sub-nav>
  <a href="https://immunedynamics.github.io/about">About</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst">Thomas Ashhurst</a>  
  <a href="https://immunedynamics.github.io/team">Immune Dynamics team</a>
  <a href="https://sydneycytometry.org.au/">Sydney Cytometry Facility</a>
</sub-nav>
  
  <br />
  <br />

  <h1>{{ page.title }}</h1>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
