---
layout: default
---

<article class="page">

<br />
  
<sub-nav-title>
  <a href="https://immunedynamics.github.io/felix-marsh-wakefield">Felix Marsh-Wakefield, Ph.D</a>
</sub-nav-title>
  
<hr>
<sub-nav>
  <a href="https://immunedynamics.github.io/felix-marsh-wakefield">About</a>
  <a href="https://immunedynamics.github.io/felix-marsh-wakefield/research">Research</a>
  <a href="https://immunedynamics.github.io/felix-marsh-wakefield/publications">Publications</a>
</sub-nav>
  
  <br />
  <br />
  
  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
