---
layout: default
---

<article class="page">

<br />
  
<sub-nav-title>
  <a href="https://immunedynamics.github.io/givanna-putri">Givanna Putri</a>
</sub-nav-title>
  
<hr>
<sub-nav>
  <a href="https://immunedynamics.github.io/givanna-putri">About</a>
  <a href="https://immunedynamics.github.io/givanna-putri/research">Research</a>
  <a href="https://immunedynamics.github.io/givanna-putri/publications">Publications</a>
</sub-nav>
  
  <br />
  <br />
  
  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
