---
layout: default
---

<article class="page">

<br />
  
<sub-nav-title>
  <a href="https://immunedynamics.github.io/nicholas-king">Nicholas King, Ph.D</a>
</sub-nav-title>
  
<hr>
<sub-nav>
  <a href="https://immunedynamics.github.io/nicholas-king">About</a>
  <a href="https://immunedynamics.github.io/nicholas-king/research">Research</a>
  <a href="https://immunedynamics.github.io/nicholas-king/publications">Publications</a>
</sub-nav>
  
  <br />
  <br />
  
  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
