---
layout: default
---

<article class="page">
  
<resource-nav-title>
  <a href="{{ site.baseurl }}/researcg">Research</a>
</resource-nav-title>
<hr>
<resource-nav>
  <a href="{{ site.baseurl }}/research">Home</a>
  <a href="{{ site.baseurl }}/research">Technologies</a>
  <a href="{{ site.baseurl }}/research">Analysis</a>
  <a href="{{ site.baseurl }}/research">Applicaiton to disease</a>
</resource-nav>
  
  <br />
  <br />

  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
