---
layout: default
---

<article class="page">
  
<sub-nav-title>
  <a href="{{ site.baseurl }}/research">Research</a>
</sub-nav-title>
<hr>
<sub-nav>
  <a href="{{ site.baseurl }}/research">Home</a>
  <a href="{{ site.baseurl }}/research/tech">Technologies and assays</a>
  <a href="{{ site.baseurl }}/research/analysis">Analysis tools</a>
  <a href="{{ site.baseurl }}/research/disease">Application to disease</a>
  <a href="{{ site.baseurl }}/research/communities">Community engagement</a>
</sub-nav>
  
  <br />
  <br />

  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
