---
layout: default
---

<article class="page">
  
<br />
  
<sub-nav-title>
  <a href="{{ site.baseurl }}/research2">Research Overview 2</a>
</sub-nav-title>
<hr>
<sub-nav>
  <a href="{{ site.baseurl }}/research2">Overview</a>
  <a href="{{ site.baseurl }}/research2/#computational-analysis-and-data-integration-across-cytometry-and-single-cell-technologies">Computational analysis</a>
  <a href="{{ site.baseurl }}/research2/#">Time-series analysis</a>
  <a href="{{ site.baseurl }}/research2/#">Spatial analysis</a>
</sub-nav>
  
  <br />
  <br />

  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
