---
layout: default
---

<article class="page">
  
<sub-nav-title>
  <a href="{{ site.baseurl }}/research">Research</a>
</sub-nav-title>
<hr>
<sub-nav>
  <a href="{{ site.baseurl }}/research">Home</a>
  <a href="{{ site.baseurl }}/research">Technologies and assays</a>
  <a href="{{ site.baseurl }}/research">Analysis tools</a>
  <a href="{{ site.baseurl }}/research">Application to disease</a>
</sub-nav>
  
  <br />
  <br />

  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
