---
layout: default
---

<article class="page">
  
<br />
 
<sub-nav-title>
  <a href="{{ site.baseurl }}/resources">Resources</a>
</sub-nav-title>

<sub-nav>
  <a href="{{ site.baseurl }}/resources">Home</a>
  <a href="{{ site.baseurl }}/resources/cells">Cell Isolation</a>
  <a href="{{ site.baseurl }}/resources/flow">Flow & Spectral</a>
  <a href="{{ site.baseurl }}/resources/mass">Mass (CyTOF)</a>
  <a href="{{ site.baseurl }}/resources/imc">Imaging (IMC)</a>
  <a href="{{ site.baseurl }}/resources/analysis">Analysis</a>
  <a href="https://sydneycytometry.org.au/wiki-launch">SC Extranet</a>
</sub-nav>
  
  <br />
  <br />
  <br />
  <br />
  <br />

  <h2>{{ page.title }}</h2>
  
  <hr>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
