---
layout: default
---

<article class="page">
  
  <sub-nav-title>
  <a href="https://immunedynamics.github.io/spectre">
    <img src="https://raw.githubusercontent.com/ImmuneDynamics/ImmuneDynamics.github.io/master/images/Spectre%20logo%20wide.png" alt="Spectre" width="220px">
  </a>
</sub-nav-title>
<hr>
<sub-nav>
  <a href="https://immunedynamics.github.io/spectre">Home</a>
  <a href="https://wiki.centenary.org.au/x/az0MCQ" target="_blank" rel="noopener noreferrer">About</a>
  <a href="https://immunedynamics.github.io/spectre/#getting-started">Get started</a>
  <a href="https://immunedynamics.github.io/spectre/#core-analysis-workflows">Protocols</a>
  <a href="https://immunedynamics.github.io/spectre/tutorials/">Tutorials</a>              
  <a href="https://wiki.centenary.org.au/x/nP5DCg" target="_blank" rel="noopener noreferrer">Spatial</a>
  <a href="https://github.com/ImmuneDynamics/Spectre/issues" target="_blank" rel="noopener noreferrer">Report Issue</a>
  <a href="https://github.com/ImmuneDynamics/Spectre/discussions" target="_blank" rel="noopener noreferrer">Q&A</a>
  <a href="https://github.com/ImmuneDynamics/Spectre" target="_blank" rel="noopener noreferrer">Github</a>
</sub-nav>
  
  <br />
  <br />

  <h1>{{ page.title }}</h1>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
