---
layout: default
---

<article class="page">
  
  <resource-nav-title>
  <a href=""https://immunedynamics.github.io/spectre">
    <img src="https://wiki.centenary.org.au/download/attachments/146080606/Spectre%20wide.png?version=1&modificationDate=1614253260985&api=v2" alt="Spectre" width="30%">
  </a>
</resource-nav-title>
<hr>
<resource-nav>
  <a href="https://immunedynamics.github.io/spectre">Home</a>
  <a href="https://immunedynamics.github.io/spectre">About</a>
  <a href="https://immunedynamics.github.io/spectre/#getting-started">Get started</a>
  <a href="https://immunedynamics.github.io/spectre/#core-analysis-workflows">Protocols</a>
  <a href="https://immunedynamics.github.io/spectre/spatial">Spatial</a>
  <a href="https://immunedynamics.github.io/spectre/#tutorials">Tutorials</a>                                                                          
  <a href="https://github.com/ImmuneDynamics/Spectre/issues" target="_blank" rel="noopener noreferrer">Report Issue</a>
  <a href="https://github.com/ImmuneDynamics/Spectre/discussions" target="_blank" rel="noopener noreferrer">Q&A</a>
  <a href="https://github.com/ImmuneDynamics/Spectre" target="_blank" rel="noopener noreferrer">Github</a>
</resource-nav>
  
  <br />
  <br />

  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
