---
layout: default
---

<article class="page">

<sub-nav-title>
  <a href="https://immunedynamics.github.io/thomas-ashhurst">Thomas Ashhurst, Ph.D</a>
</sub-nav-title>
  
<hr>
<sub-nav>
  <a href="https://immunedynamics.github.io/thomas-ashhurst">About</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/research">Research</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/publications">Publications</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/funding">Funding</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/community">Community</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/talks">Talks</a>
</sub-nav>
<p style="text-align: right; margin-top: 5px;">{% include svg-icons-top.html %}</p>

  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
