---
layout: default
---

<article class="page">

<sub-nav-title>
  <a href="https://immunedynamics.github.io/thomas-ashhurst">Thomas Ashhurst, Ph.D</a>
</sub-nav-title>
  
<hr>
<sub-nav>
  <a href="https://immunedynamics.github.io/thomas-ashhurst">About</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/research">Research</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/publications">Publications</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/funding">Funding</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/community">Community</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/talks">Talks</a>
</sub-nav>
<br />
<p style="text-align: left;">
<img src="https://raw.githubusercontent.com/tomashhurst/tomashhurst.github.io/2a9877aba13f6f7b46b11728a68d7047debb0f36/custom_SVG/EmailSVG.svg" alt="Email logo" width="20" href="mailto:thomas.ashhurst@sydney.edu.au">
<img src="https://raw.githubusercontent.com/tomashhurst/tomashhurst.github.io/2a9877aba13f6f7b46b11728a68d7047debb0f36/custom_SVG/TwitterSVG.svg" alt="Twitter logo" width="20" href="https://twitter.com/TomAsh_1">
<img src="https://raw.githubusercontent.com/tomashhurst/tomashhurst.github.io/2a9877aba13f6f7b46b11728a68d7047debb0f36/custom_SVG/GithubSVG.svg" alt="Github logo" width="20" href="https://github.com/tomashhurst">
<img src="https://raw.githubusercontent.com/tomashhurst/tomashhurst.github.io/2a9877aba13f6f7b46b11728a68d7047debb0f36/custom_SVG/LinkedInSVG.svg" alt="LinkedIn logo" width="20" href="https://www.linkedin.com/in/thomas-ashhurst/">
<img src="https://raw.githubusercontent.com/tomashhurst/tomashhurst.github.io/2a9877aba13f6f7b46b11728a68d7047debb0f36/custom_SVG/ResearchGate_icon_SVG.svg" alt="ResearchGate logo" width="20" href="https://www.researchgate.net/profile/Thomas-Ashhurst">
</p>

  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
