---
layout: default
---

<article class="page">

<br />
  
<sub-nav-title>
  <a href="https://immunedynamics.github.io/thomas-ashhurst">Thomas Ashhurst, Ph.D</a>
</sub-nav-title>
  
<hr>
<sub-nav>
  <a href="https://immunedynamics.github.io/thomas-ashhurst">About</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/research">Research</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/technology">Single cell tech</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/publications">Publications</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/funding">Funding</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/community">Community</a>
  <a href="https://immunedynamics.github.io/thomas-ashhurst/talks">Talks</a>
</sub-nav>
  
  <br />
  <br />
  
  <h2>{{ page.title }}</h2>
  
  <div class="entry">
    {{ content }}
  </div>
</article>
